{{> html-head}}

		<!-- ------------------------------------------------------------------------
		 -
		 -	Article
		 -
		 - ------------------------------------------------------------------------ -->
		<div id="article">


			{{md article}}



			<!-- COLORS -->
			<div class="container">
				Colors<br />
				Core<br />
				<br /><br />

				<!-- White -->
				<div class="row">
					<div class="span7 black-light-gray">
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle white" style="height: 150px;">white</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle white-light-gray" style="height: 150px;">white-light-gray</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle white-dark-gray" style="height: 150px;">white-dark-gray</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Black -->
				<div class="row">
					<div class="span7">
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle black" style="height: 150px;"><p class="white">black</p></div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle black-light-gray" style="height: 150px;">black-light-gray</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle black-dark-gray" style="height: 150px;">black-dark-gray</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Gray -->
				<div class="row">
					<div class="span7">
						<div class="span2">
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle light-gray" style="height: 150px;">light-gray</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle dark-gray" style="height: 150px;">dark-gray</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Rainbow -->
				<div class="row">
					<div class="span7">
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle red" style="height: 150px;">red</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle orange" style="height: 150px;">orange</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle yellow" style="height: 150px;">yellow</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span7">
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle green" style="height: 150px;">green</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle blue" style="height: 150px;">blue</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle purple" style="height: 150px;">purple</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<br /><br />

			<div class="container">
				Shape<br />
				<br /><br />

				<!-- White -->
				<div class="row">
					<div class="span7">
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle shaping" style="height: 150px;">shaping</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle shaper" style="height: 150px;">shaper</div>
							</div>
						</div>
						<div class="span2">
							<div class="align-middle" style="width: 150px;">
								<div class="circle middle shape" style="height: 150px;">shape</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>



		{{> javascript-core}}



		<!-- page specific -->
		<script type="text/javascript">
			// Baker callbacks
			function onLeftTap(articleIndex) {
			};
			function onRightTap(articleIndex) {
			};
			function onUpTap(articleIndex) {
			};
			function onDownTap(articleIndex) {
			};


			/*
			 *	There must be a cleaner way to deal with
			 *	visibility states for onLoad... onPage... etc.
			 */
			// initial state
			function onReady(pageIndex) {
			};


			// onepage-scroll callbacks
			// Article
			function onArticleLoad(pageIndex) {
			};
			function onBeforeArticlePage(pageIndex, nextIndex) {
			};
			function onAfterArticlePage(pageIndex) {
			};

			// Gallery
			function onGalleryLoad(pageIndex) {
			};
			function onBeforeGalleryPage(pageIndex, nextIndex) {
			};
			function onAfterGalleryPage(pageIndex) {
			};

		</script>



	</body>
</html>