/**
 *
 *	Ken Frederick
 *	ken.frederick@gmx.de
 *
 *	http://kennethfrederick.de/
 *	http://blog.kennethfrederick.de/
 *	
 */
//
//	This file is merely a "build" file for all of the included Less files
//



/*	------------------------------------------------------------------------
 *
 *	Bootstrap
 *
 *	------------------------------------------------------------------------ */
//
// certain elements of bootstrap can be customized by modifying:
// bower_components/bootstrap/less/variables.less
// 
// these are my recommended values and the ones used for This & That
// - @font-size-base: 15px;
// - @line-height-base: 18px;
// - @screen-md: 1024px;
// - @grid-columns: 9;
// - @grid-gutter-width: 12px;
// 
// if you intend on using bootstrap glyph icons be sure to 
// update this variable and copy bower_components/bootstrap/fonts/glyphicons-* into
// typefaces/glyphicons-*
// - @icon-font-path: "../typefaces/bootstrap"
//
@import "../bower_components/bootstrap/less/bootstrap.less";






/*	------------------------------------------------------------------------
 *
 *	This & That framework
 *
 *	------------------------------------------------------------------------ */
@import "./this-and-that.less";






/*	------------------------------------------------------------------------
 *
 *	Typography
 *
 *	------------------------------------------------------------------------ */
//
//	Import Typefaces
//
//	This is the only place that needs to be modified for your use
//
@font-face {
	font-family: "neutral";
	src:	url("../typefaces/Neutral/Neutral-v2-Regular.otf");
	// src:	url("../typefaces/Neutral/Neutral-v2-Regular.ttf") format("truetype"),
			// url("../typefaces/Neutral/Neutral-v2-Regular.eot") format("embedded-opentype"),
			// url("../typefaces/Neutral/Neutral-v2-Regular.woff") format("woff");
			// url("../typefaces/Neutral/Neutral-v2-Regular.svg#AkzidGrtskNext-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "neutral-bold";
	src:	url("../typefaces/Neutral/Neutral-v2-Bold.otf");
	// src:	url("../typefaces/Neutral/Neutral-v2-Bold.ttf") format("truetype"),
			// url("../typefaces/Neutral/Neutral-v2-Bold.eot") format("embedded-opentype"),
			// url("../typefaces/Neutral/Neutral-v2-Bold.woff") format("woff");
			// url("../typefaces/Neutral/Neutral-v2-Bold.svg#AkzidGrtskNext-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}

.neutral {
	font-family: "neutral";
} 
.neutral-bold {
	font-family: "neutral-bold";
} 


//
//	http://blokkfont.com/
//
@font-face {
	font-family: 'blokk';
	src:	url('../typefaces/BLOKK/BLOKKRegular.otf');
	src:	url('../typefaces/BLOKK/BLOKKRegular.ttf') format('truetype'),
			url('../typefaces/BLOKK/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
			url('../typefaces/BLOKK/BLOKKRegular.woff') format('woff'),
			url('../typefaces/BLOKK/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'blokk-neue';
	src:	url('../typefaces/BLOKK/BLOKKNeue-Regular.otf');
	src:	url('../typefaces/BLOKK/BLOKKNeue-Regular.ttf') format('truetype'),
			url('../typefaces/BLOKK/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
			url('../typefaces/BLOKK/BLOKKNeue-Regular.woff') format('woff'),
			url('../typefaces/BLOKK/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.blokk {
	font-family: 'blokk';
} 
.blokk-neue {
	font-family: 'blokk-neue';
} 

//
// Setup up typography (typeplate)
//
@type-base-family: neutral;
@type-base-family-bold: neutral-bold;
@type-base-weight: regular;

@import "./typography.less";






/*	------------------------------------------------------------------------
 *
 *	Additional CSS/Less modules
 *
 *	------------------------------------------------------------------------ */
/*
 * Font Awesome
 */
//
// certain elements of bootstrap can be customized by modifying:
// bower_components/font-awesome/less/variables.less
// 
// these my recommended values and the ones used for This & That
// - @FontAwesomePath:    "../typefaces/font-awesome";
// 
@import "../bower_components/font-awesome/less/font-awesome.less";

/*
 * Effeckt.css
 */
// @import (less) "../bower_components/Effeckt.css/css/modules/off-screen-nav.css";
// @import (less) "../bower_components/Effeckt.css/css/modules/page-transitions.css";
// @import (less) "../bower_components/Effeckt.css/css/modules/captions.css";

/*
 * Onepage-Scroll.css
 */
@import (less) "../bower_components/onepage-scroll/onepage-scroll.css";






/*	------------------------------------------------------------------------
 *
 *	Application Specific
 *
 *	------------------------------------------------------------------------ */
// i.e. styles that pertain to the specific publication issue
@import "./app.less";






/*	------------------------------------------------------------------------
 *
 *	Media Queries
 *
 *	------------------------------------------------------------------------ */
@import "./media-queries.less";





