# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes


# Files
*.htaccess
*.tmp
*.log
*.manifest

# Debug files
# \#_

# Thumbnails
._*

# SublimeText project files
*.sublime-workspace


# Directories
dist/
test/


