<div id="navigation">

	<!-- TOP -->
	<div class="row">
		<div class="align-top">
			<div class="col-sm-3 align-left">
				<a id="main-menu" href="javascript:void(0);" class="black-dark-gray underline-none" data-index="1"><i class="icon-reorder icon-large"></i></a>
			</div>
			<div class="col-sm-3 align-center">
				&nbsp;
			</div>
			<div class="col-sm-3 align-right">
				&nbsp;
			</div>
		</div>
	</div>

	<!-- GALLERY NAVIGATION BEGIN -->
	<div class="row">
		<div class="baseline-grid-6">
			<div class="gallery-navigation"> <!-- class="invisible" -->
				<div class="col-sm-2 col-sm-offset-7 align-center">
					<a id="gallery-close" href="javascript:void(0);" class="black-dark-gray underline-none">close</a>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- PAGING ARROWS -->
<div id="scroll-back" class="fade-in-over">
	<div class="align-middle">
		<div class="middle">
			<a href="javascript:void(0);" class="black-dark-gray underline-none"><i class="icon-angle-left icon-large"></i></a>
		</div>
	</div>
</div>
<div id="scroll-forward" class="fade-in-over">
	<div class="align-middle">
		<div class="middle">
			<a href="javascript:void(0);" class="black-dark-gray underline-none"><i class="icon-angle-right icon-large"></i></a>
		</div>
	</div>
</div>
